*{
	margin: 0px;
	padding: 0px;
	font-family: "微软雅黑"
}
img{
	width: 100px;
	height: 120px;
}
.div_css{
	border:1px solid #999;
	background-color: #eee;
	margin:20px;
	padding:20px;
	overflow:auto;
}
.div1_css{
	border:1px solid #999;
	float:left;
	width: 200px;
	height: 80px;
	padding:20px;
	background-color:white; 
}
.img_css{
	width:80px;
	height: 80px;
}
.span_css {
	position: absolute;
	left:160px;
}
.p1{
	margin-top: 10px;
	text-indent: 20px;
	line-height: 18pt;
}
.div2_css{
	border:1px solid #999;
/*	position: absolute;*/
/*	left:300px;
	right:200px;*/
	margin-left: 260px;
	margin-right: 140px;
	padding:20px;
/*	margin-bottom: 20px; */
	background-color:white;
}
.div3_css{
	border:1px solid #999;
	float:right;
	width: 80px;
	padding:20px;
	background-color:white;
	height:auto;
}
.img1_css{
	width: 80px;
	height: 80px;
}
.div4_css{
	margin-bottom: 20px;
}